<h1>NYC Building Energy Usage Per Year 2008-2012</h1>
<%= form_tag("/buildings", :method => "get") do %>
  <label for="year">Year</label>
  <select id="year" name="year">
    <option value="2008">2008</option>
    <option value="2009">2009</option>
    <option value="2010">2010</option>
    <option value="2011">2011</option>
    <option value="2012">2012</option>
  </select>
  <%= submit_tag("Submit") %>
<% end %>

<% if @year %>
<h2>Totals for year: <%= @year %></h2>
<table>
  <tr>
    <th>Building</th>
    <th>Electricity Cost<br>($)</th>
    <th>Electricity Demand<br>(KW)</th>
    <th>Electricty Usage<br>(KWH)</th>
    <th>Gas<br>(Therms)</th>
    <th>Gas Cost<br>($)</th>
    <th>Steam<br>(mlbs)</th>
    <th>Total Usage<br>(mmBTUs)</th>
  </tr>
  <% x = "" %>
  <% @buildings.each do |building| %>
    <% if building.location != x %>
      <tr>
        <td><%= building.location.gsub("&amp;", "&").gsub("?", "") %></td>
        <td><%= total(building.location, @year, "Electricity Cost ($)") %></td>
        <td><%= total(building.location, @year, "Electricity Demand (KW)") %></td>
        <td><%= total(building.location, @year, "Electricity Usage (KWH)") %></td>
        <td><%= total(building.location, @year, "Gas (Therms)") %></td>
        <td><%= total(building.location, @year, "Gas Cost ($)") %></td>
        <td><%= total(building.location, @year, "Steam (mlbs)") %></td>
        <td><%= total(building.location, @year, "Total Usage (mmBTUs)") %></td>
      </tr>
      <% x = building.location %>
    <% end %>
  <% end %>
</table>
<% end %>
